.container
  .col-md-4
    - if @user.all_friends
      %h1 My Friends
      %ul.list-group
        - @user.all_friends.each do |friend|
          = link_to user_path(friend) do
            %li.list-group-item
              %img.img-circle{:src => "http://via.placeholder.com/60x60"}/
              %h5= friend.name
    - else
      %h1 You have no friends yet!
      = link_to("Add friends", users_path, class: "btn btn-primary")
      = link_to("Back", user_path(@user), class: "btn btn-default")
