.container
  .row
    %ul.nav.nav-pills.nav-pills-center
      %li{:role => "presentation"}
        = link_to("全部餐廳", root_path)
      - @categories.each do |category|
        %li{:class => ("active" if category == @category), :role => "presentation"}
          = link_to(category.name, category_path(category))

    %br/

    = render partial: "shared/restaurant_list"
